__pycache__/
*.py[cod]
.env
.env.local
.env.*.local
.venv/
.pytest_cache/
.mypy_cache/

#Python
__pycache__/
.pytest_cache/
*.py[cod]
*.so

#Env
.env

#IDEs
.vscode/
.idea/

#Logs
*.log

#Subject
air-guardian.backend.mini.en.pdf